# Group Proposal - Group 118
### Steven Son, Yifei Chen, Melissa Wu, Yashita Kapoor

#### Introduction:



Background information:
Question:
Interpretation of data:
*

In [3]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)
source("tests.R")
source("cleanup.R")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [6]:
heart_raw <- read_csv("data/processed.cleveland.data", col_names = FALSE)
heart_raw
heart_column <- rename(heart_raw,age = X1,
                   sex = X2,
                   chest_pain = X3,
                   trestbps = X4,
                   chol = X5,
                   fbs = X6,
                   restecg = X7,
                   thalach = X8,
                   exang = X9,
                   oldpeak = X10,
                   slope = X11,
                   ca = X12,
                   thal = X13,
                   num = X14)
head(heart_column)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    X1 X2 X3 X4  X5  X6 X7 X8  X9 X10 X11 X12 X13 X14
1   63 1  1  145 233 1  2  150 0  2.3 3   0.0 6.0 0
2   67 1  4  160 286 0  2  108 1  1.5 2   3.0 3.0 2
3   67 1  4  120 229 0  2  129 1  2.6 2   2.0 7.0 1
⋮   ⋮  ⋮  ⋮  ⋮   ⋮   ⋮  ⋮  ⋮   ⋮  ⋮   ⋮   ⋮   ⋮   ⋮
301 57 1  4  130 131 0  0  115 1  1.2 2   1.0 7.0 3
302 57 0  2  130 236 0  2  174 0  0.0 2   1.0 3.0 1
303 38 1  3  138 175 0  0  173 0  0.0 1   ?   3.0 0

  age sex chest_pain trestbps chol fbs restecg thalach exang oldpeak slope ca
1 63  1   1          145      233  1   2       150     0     2.3     3     0.0
2 67  1   4          160      286  0   2       108     1     1.5     2     3.0
3 67  1   4          120      229  0   2       129     1     2.6     2     2.0
4 37  1   3          130      250  0   0       187     0     3.5     3     0.0
5 41  0   2          130      204  0   2       172     0     1.4     1     0.0
6 56  1   2          120      236  0   0       178     0     0.8     1     0.0
  thal num
1 6.0  0
2 3.0  2
3 7.0  1
4 3.0  0
5 3.0  0
6 3.0  0